torch>=2.7,<=2.10
optree

Pillow
transformers==5.3.0
modelscope
diffusers
compressed-tensors

strenum
aenum
overrides

# serving_cast
salabim
blinker
greenlet
scikit-learn
scipy
prettytable
pyyaml
pandas
matplotlib
plotext

# test
pytest
pytest-cov
pytest-xdist
parameterized

# web ui
gradio>=5,<6
openpyxl